.searchImg__container{
  height: 140px;
  width: min-content;
  padding: 0 15px;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.searchImg__title{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 26px;
}

.searchImg__inputContainer{
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.searchImg__inputContainer__input{
  max-width: 450px;
  width: 300px;
  height: 30px;
  /* margin-right: 10px; */
  padding: 3px;
  border-radius: 5px 0 0 5px ;
  border: 1px solid rgb(38, 142, 184);
  outline: none;
}

.searchImg__inputContainer__btn{
  height: 30px;
  width: 100px;
  background-color: rgb(44, 166, 214);
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(38, 142, 184);
  border-radius: 0  5px 5px 0;
  color: white;
  cursor: pointer;
  transition: transform ease 0.33s;
}
.searchImg__inputContainer__btn:hover{
  transform: scale(1.1);
}