.nav{
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.nav__link{
  cursor: pointer;
}
.nav__link:hover{
  color: rgb(209, 209, 209);
}